services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      MYSQL_DATABASE: "${MYSQL_DATABASE}"
      MYSQL_USER: "${MYSQL_USER}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
    volumes:
      - /home/adesille/data/mariadb:/var/lib/mysql
    restart: always
    networks:
      - inception_net

  wordpress:
    build: ./requirements/wordpress
    container_name: wp-php
    depends_on:
      - mariadb
    environment:
      MYSQL_HOST: ${MYSQL_HOST} 
      MYSQL_DATABASE: "${MYSQL_DATABASE}"
      MYSQL_USER: "${MYSQL_USER}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
      DOMAIN_NAME: "${DOMAIN_NAME}"
      SITE_TITLE: "${SITE_TITLE}"
      ADMIN_USER: "${ADMIN_USER}"
      ADMIN_PASSWORD: "${ADMIN_PASSWORD}"
      ADMIN_MAIL: "${ADMIN_MAIL}"
      USER1_LOGIN: "${USER1_LOGIN}"
      USER1_PASSWORD: "${USER1_PASSWORD}"
      USER1_MAIL: "${USER1_MAIL}"
    volumes:
      - /home/adesille/data/wordpress:/var/www/wordpress
    restart: always
    networks:
      - inception_net

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    cap_add:
      - NET_BIND_SERVICE  # Allows nginx to bind to port 443 (privileged ports < 1024)
                          # Otherwise NGINX would need to run as root, which is a security risk
    depends_on:
      - wordpress
    ports:
      - "8443:443"
    volumes:
      - /home/adesille/data/wordpress:/var/www/wordpress
    restart: always
    networks:
      - inception_net

networks:
  inception_net:
